# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/task/out/production/classes/
/Topics/Throwing exceptions/Throw a checked exception/out/
/Topics/Throwing exceptions/Throw a checked exception/out/production/classes/